/* role time boxed */
.sym-table-column[data-column="timeboxed"] .tooltip-inner {
    background:#2196f3;
    font-family: 'OS_L';
    font-size: 14px;
    line-height: 140%;
}

.sym-table-column[data-column="timeboxed"] .tooltip-arrow {
    border-right-color: #2196f3 !important;
}

/* role permissions */
.sym-table-item:not(.sym-table-item-fake) .sym-table-column[data-column="permissions"] {
    display: table;
    height: 100%;
}

.sym-table-item:not(.sym-table-item-fake) .sym-table-column[data-column="permissions"] p {
    display: table-cell;
    vertical-align: middle;
}

.sym-table-item:not(.sym-table-item-fake) .sym-table-column[data-column="permissions"] p > span {
    font-family: 'OS_R';
}

.sym-role-permission-full {
    color: #2196f3;
}

.sym-role-permission-partial {
    color: #ff7e69;
}

.sym-table-item-no-match {
    display: none;
}

/* details */
.sym-table-item-selected .sym-table-column[data-column="name"] {
    width: 400px !important;
}

.sym-table-item-selected .sym-table-column[data-column="timeboxed"], 
.sym-table-item-selected .sym-table-column[data-column="permissions"] {
    display: none !important;
}

/* Modals */
.sym-modal-placeholder-role-name {
    font-family: 'OS_B' !important;
    font-size: 105%;
    color: #15a4fa;
}

/*-----------------------------------------------------------------------------*/
/* -> Role form <- */
/*-----------------------------------------------------------------------------*/
.sym-form-group-role[data-form="role-basic"] {
    /*height: 100px;*/
}

.sym-form-group-role[data-form="role-basic"] .sym-input-container {
    float: left;
    width: 100%;
    margin: 15px 0px;
}

.sym-form-group-role[data-form="role-basic"] .sym-input-container:nth-child(2n+1) {
    padding-right: 8px;
}

.sym-form-group-role[data-form="role-basic"] .sym-input-container:nth-child(2n) {
    padding-left: 8px;
}

.sym-form-group-role[data-form="role-basic"] .sym-input-container:nth-child(2n) label {
    left: 13px;
}

.sym-form-group-role[data-form="role-basic"] .sym-input-container input {
    width: 40%;
}

/*-----------------------------------------------------------------------------*/
/* -> Role timeboxed <- */
/*-----------------------------------------------------------------------------*/
.sym-form-group-role[data-form="role-timeboxed"] {
    display: inline-block;
    width: 50%;
    vertical-align: top;
    margin: 10px -4px 10px 0px;
}

.sym-table-item-details-loading .sym-check-container label {
    position: relative;
    top: -10px;
    font-size: 0px;
    width: 100px;
    height: 10px;
    border-radius: 5px;
    background-color: #f1f1f4;
}

/*-----------------------------------------------------------------------------*/
/* -> Role TimeBoxed  <- */
/*-----------------------------------------------------------------------------*/
.sym-role-time-boxed-dates {
    display: none;
}

.sym-role-time-boxed-dates .sym-input-container-start-at input[data-input="role_start_at"],
.sym-role-time-boxed-dates .sym-input-container-end-at input[data-input="role_end_at"] {
    width: 59%;
}

/*-----------------------------------------------------------------------------*/
/* -> Role permissions <- */
/*-----------------------------------------------------------------------------*/
.sym-form-group-role[data-form="role-permissions"] {
    margin-top: 15px;
}