/*-----------------------------------------------------------------------------*/
/* -> Templates Wrapper <- */
/*-----------------------------------------------------------------------------*/
.sym-partial-templates {
    display: none;
}


/*-----------------------------------------------------------------------------*/
/* -> Scroll <- */
/*-----------------------------------------------------------------------------*/
.custom-vertical-scroll-grey {
    width: 5px;
    background: #f1f6f4;
    margin-left: -15px;
    border-radius:3px;
}

.custom-vertical-scroll-grey > a {
    width: 5px;
    background:rgba(204, 206, 213, 1);
    border-radius:3px;
}

.custom-vertical-scroll-grey > a:hover, .custom-vertical-scroll-grey > a:active {
    background:rgba(204, 206, 213, 1);
}


/*-----------------------------------------------------------------------------*/
/* -> Buttons <- */
/*-----------------------------------------------------------------------------*/
.sym-btn {
    display: inline-block;
    min-width: 100px;
    font-family: OS_R;
    font-size: 16px;
    padding: 10px 15px;
    border-radius: 4px;
    cursor: pointer;
}

.sym-btn p {
    font-family: 'OS_R';
    margin: 0px;
    color: #fff;
    text-align: center;
}

.sym-btn-add {
    background-color: #43c8e0;
}

.sym-btn-create, 
.sym-btn-update {
    background-color: #71dba3;
}

.sym-btn-delete,
.sym-btn-cancel {
    background-color: #fb7e69;
}

.sym-btn-disabled {
    opacity: .5;
    cursor: not-allowed;
}

.sym-btn-disabled-grey {
    background-color: #cacfd6;
    cursor: not-allowed;
}

.sym-form-group-buttons {
    margin: 15px 0px 0px 0px;
    height: 45px;
}

.sym-form-group-buttons .sym-btn {
    float: right;
    min-width: 140px;
    margin-left: 10px;
}

/* bootstrap buttons */
.btn-default {
    background-color: #ccced5;
    border-color: #ccced5;
}

.btn-danger {
    background-color: #ff5e56;
    border-color: #ff5e56;
}

/*-----------------------------------------------------------------------------*/
/* -> Modals <- */
/*-----------------------------------------------------------------------------*/
.sym-modal-span-bold {
    font-family: 'OS_B' !important;
}

.sym-modal-span-hilight {
    font-family: 'OS_B' !important;
    color: #15a4fa;
}


/*-----------------------------------------------------------------------------*/
/* -> Tabs <- */
/*-----------------------------------------------------------------------------*/
/* tab header */
.sym-tab-header {
    height: 50px;
}

.sym-tab-header-tabs {
    height: 100%;
}

.sym-tab-header-tab {
    position: relative;
    float: left;
    height: 100%;
    width: 200px;
    margin-right: 10px;
    cursor: pointer;
}

.sym-tab-header-tab p {
    position: absolute;
    bottom: 0px;
    width: 100%;
    height: 40px;
    border-radius: 5px 5px 0px 0px;
    margin: 0px;
    padding-top: 6px;
    background-color: #ccced5;
    text-align: center;
    font-size: 20px;
    color: #fff;
    font-family: 'OS_SB';
    -webkit-transition: all 300ms;
    -moz-transition: all 300ms;
    -ms-transition: all 300ms;
    -o-transition: all 300ms;
    transition: all 300ms;
}

.sym-tab-header-tab-active p {
    height: 50px;
    background-color: #2196f3;
    padding-top: 10px;
}

.sym-tab-header-tab-active {
    cursor: default;
}

.sym-tab-header-tab-disabled {
    cursor: not-allowed;
}

/* tab body */
.sym-tab-body {
}

.sym-tab-body-block {
    display: none;
}

.sym-tab-body-block-active {
    display: block;
}


/*-----------------------------------------------------------------------------*/
/* -> Table <- */
/*-----------------------------------------------------------------------------*/
/* actions */
.sym-table-actions {
    overflow: hidden;
    margin-bottom: 15px;
    background-color: #fff;
    padding: 15px;
    box-shadow: 0 5px 5px -5px rgba(0,0,0,.3);
    -webkit-transition: all 300ms;
    -moz-transition: all 300ms;
    -ms-transition: all 300ms;
    -o-transition: all 300ms;
    transition: all 300ms;
}

.sym-tab-body-block-item-selected .sym-table-actions {
    height: 0px;
    padding: 0px;
    margin: 0px;
}

.sym-table-actions .sym-btn-add {
    padding-left: 50px;
    padding-right: 50px;
}

.sym-table-search {
    float: right;
    margin-top: 8px;
}

.sym-table-search span {
    position: relative;
    top: 6px;
    left: -2px;
    font-size: 23px;
    color: #2196f3;
    cursor:text;
}	

.sym-table-search input {
    width: 100px;
    background: transparent;
    border: none;
    font-family: 'OS_R';
    font-size: 16px;
    color: #525a64;
    -webkit-transition: all 300ms;
    -moz-transition: all 300ms;
    -ms-transition: all 300ms;
    -o-transition: all 300ms;
    transition: all 300ms;
}

.sym-table-search input:focus {
    width: 200px;
    outline: none;
}

.sym-table-search input:placeholder {
    color: #525a64;
}

/* container */
.sym-table {
}

/* columns */
.sym-table-column {
    float: left;
}

.sym-table-column-100 {
    width: 100%;
}

.sym-table-column-80 {
    width: 80%;
}

.sym-table-column-75 {
    width: 75%;
}

.sym-table-column-70 {
    width: 70%;
}

.sym-table-column-67 {
    width: 67%;
}

.sym-table-column-50 {
    width: 50%;
}

.sym-table-column-40 {
    width: 40%;
}

.sym-table-column-35 {
    width: 35%;
}

.sym-table-column-34 {
    width: 34%;
}

.sym-table-column-33 {
    width: 33%;
}

.sym-table-column-30 {
    width: 30%;
}

.sym-table-column-25 {
    width: 25%;
}

.sym-table-column-20 {
    width: 20%;
}

.sym-table-column-15 {
    width: 15%;
}

.sym-table-column-10 {
    width: 10%;
}

.sym-table-column p {
    text-align: center;
    overflow: hidden;
    text-overflow:ellipsis;
    padding: 0px 10px;
}

.sym-table-column-l p {
    text-align: left;
}

.sym-table-column-l .sym-btn {
    float: left;
}

.sym-table-column-r p {
    text-align: right;
}

.sym-table-column-r .sym-btn {
    float: right;
}

/* header */
.sym-table-header {
    overflow: hidden;
    background-color: #2196f3;
    height: 35px;
    -webkit-transition: all 300ms;
    -moz-transition: all 300ms;
    -ms-transition: all 300ms;
    -o-transition: all 300ms;
    transition: all 300ms;
}

.sym-tab-body-block-item-selected .sym-table-item-selected > .sym-table-header {
    height: 0px;
}

.sym-table-header .sym-table-column {
    height: 35px;
}

.sym-table-header .sym-table-column p {
    font-family: 'OS_L';
    font-size: 16px;
    color: #fff;
    margin: 0px;
    margin-top: 6px;
    height: 29px;
}

.sym-table-header .sym-table-column-l p {
    text-align: left;
}

.sym-table-header .sym-table-column-r p {
    text-align: right;
}

/* sort */
.sym-table-column[sort] {
    cursor: pointer;
}

.sym-table-empty .sym-table-column[sort] {
    cursor:default;
}

.sym-table-column[sort] p span[data-sort] {
    position: relative;
    display: inline-block;
    font-size: 10px;
    opacity: .4;
    top: 5px;
    left: -3px;
}

.sym-table-column[sort] p span[data-sort="asc"] {
    transform: rotate(180deg);
    top: -7px;
    left: 7px;
}

.sym-table-column[sort] p.sym-table-sort-active-asc span[data-sort="asc"],
.sym-table-column[sort] p.sym-table-sort-active-desc span[data-sort="desc"] {
    opacity: 1;
}

/* body */
.sym-table-items {

}

.sym-table-item {
    overflow: hidden;   
    height: 70px;
    background-color: #fff;
    margin-bottom: 15px;
    box-shadow: 0 5px 5px -5px rgba(0,0,0,.3);
    -webkit-transition: background-color 1000ms;
    -moz-transition: background-color 1000ms;
    -ms-transition: background-color 1000ms;
    -o-transition: background-color 1000ms;
    transition: background-color 1000ms;
    clear: both;
}

.sym-table-item-highlight {
    background-color: #daefff !important;
}

.sym-table-item.sym-table-item-selected[data-user-notified="1"] > .sym-table-column-actions .sym-table-column-action[data-action="user-notify"] {
    display: none;
}

.sym-table-item-selectable {
    cursor: pointer !important;
}

.sym-tab-body-block-item-selected .sym-table-item-selected > .sym-table-items > .sym-table-item:not(.sym-table-item-selected) {
    display: none;
}

.sym-table-item-selectable:hover {
    background-color: #daefff;
}

.sym-table-column > * {
    margin-top: 23px;
    font-family: 'OS_R';
    font-size: 16px;
    text-align: center;
    color:#525a64;
}

/* actions column */
.sym-table-column-actions {
    display: none;   
    float: right !important;
}

.sym-table-item-selected .sym-table-column-actions {
    display: inline-block;    
}

.sym-table-column-action {
    float: right;
    padding: 0px 10px;
}

.sym-table-column-action p {
    color: #2196f3;
    font-family: 'OS_R';
    overflow: visible;
}

.sym-table-column-action-icon {
    display: inline;
    top: 0px;
    color: #fff;
    background-color: #2196f3;
    border-radius: 15px;
    padding: 7px;
    font-size: 15px;
    margin-left: 4px;
    width: auto !important;
}

/* user column */
.sym-user-avatar {
    position: relative;
    display: table;
    overflow: hidden;
    width: 50px;
    height: 50px;
    border-radius: 25px;
    margin-top: 10px;
    margin-left: 10px;
    padding: 0px !important;
    float: left;
    background: #cacdd4;
    cursor: pointer;
}

.sym-table-item[data-user-state='0']:not(.sym-table-item-selected) {
    opacity: .3;
}

.sym-table-item[data-user-state='0'] .sym-table-item-avatar img {
    filter: grayscale(.8);
}

.sym-table-item[data-user-state='0'] .sym-user-avatar::after {
    content: 'Disabled';
    position: absolute;
    top: 50%;
    text-align: center;
    margin-top: -9px;
    background: rgba(255,255,255,.7);
    color: #666;
    left: -10px;
    right: -10px;
    transform: rotate(-45deg);
    font-size: 12px;
}

.sym-user-avatar img {
    vertical-align: middle;
    width: 100%;
}

.sym-user-avatar span {
    display: table-cell;
    vertical-align: middle;
    font-size: 24px;
    font-family: 'OS_L';
    color: #fff;
    letter-spacing: 1px;
    text-align: center;
}

.sym-table-item-name {
    margin: 14px 0px 0px 0px !important;
    font-size: 16px;
    font-family: 'OS_SB';
    color: #525a64;
    text-align: left !important;
}

.sym-table-item-email {
    margin: 2px 0px 0px 60px !important;
    font-family: 'OS_I';
    font-size: 14px;
    color: #7a8089;
    text-align: left !important;
}

/* fake */
.sym-table-item-fake {
    display: none;
}

.sym-table-empty .sym-table-item-fake {
    display: block;
}

.sym-table-item-fake.sym-table-item-selected {
    /*display: block;*/
}

.sym-table-item-fake .sym-table-column > p {
    display: block;
    height: 10px;
    width: 20%;
    background: #f1f1f4;
    border-radius: 4px;
    margin: 30px auto !important;
    color: transparent;
}

.sym-table-item-fake .sym-table-column-l > p {
    margin: 30px 10px !important;
}

.sym-table-item-fake .sym-table-column-r > p {
    margin: 30px 10px !important;
    float: right;
}

.sym-table-item-fake .sym-table-column > p.sym-table-item-avatar {
    position: relative;
    float: left;
    margin: 10px 10px !important;
    overflow: hidden;
    width: 50px;
    height: 50px;
    border-radius: 25px;
}

.sym-table-item-fake .sym-table-column > p.sym-table-item-avatar::before {
    content: '';
    position: absolute;
    top: 11px;
    left: 15px;
    width: 20px;
    height: 20px;
    border-radius: 10px;
    background: #fff;
}

.sym-table-item-fake .sym-table-column > p.sym-table-item-avatar::after {
    content: '';
    position: absolute;
    top: 27px;
    left: 8px;
    width: 35px;
    height: 40px;
    border-radius: 18px;
    background: #fff;
}

.sym-table-item-fake .sym-table-column > p.sym-table-item-name {
    width: 100px;
    margin: 20px 0px 0px 60px !important;
}

.sym-table-item-fake .sym-table-column > p.sym-table-item-email {
    width: 160px;
    margin: 10px 0px 0px 60px !important;
}

.sym-table-item-fake .sym-btn {
    opacity: .5 !important;
    cursor: not-allowed !important;
}

/* details */
.sym-table-item-details {
    overflow: hidden;
    height: 0px;
    opacity: 0;
    background-color: #fff;
    box-shadow: 0 5px 5px -5px rgba(0,0,0,.3);
    -webkit-transition: all 500ms;
    -moz-transition: all 500ms;
    -ms-transition: all 500ms;
    -o-transition: all 500ms;
    transition: all 500ms;
}

.sym-table-item-selected .sym-table-item-details {
    height: 350px;
    opacity: 1;
}

.sym-table-item-details-container {
    padding: 15px;
    height: 100%;
}

/* small table */
.sym-table-small .sym-table-item {
    box-shadow: none;
    margin: 0px;
    height: auto;
}

.sym-table-small .sym-table-item:nth-child(2n) {
    background-color: #f6f7f9;
}

.sym-table-small .sym-table-items .sym-table-column > * {
    margin-top: 15px !important;
    margin-bottom: 15px !important;
}

.sym-table-small .sym-table-items .sym-table-item-fake .sym-table-column > * {
    margin-top: 20px !important;
}

.sym-table-small .sym-table-items .sym-table-item-fake .sym-table-column {
    height: 50px;
}

.sym-table-small .sym-table-items .sym-table-column > .sym-btn {
    margin-top: 9px !important;
    margin-bottom: 5px !important;
    margin-right: 10px;
    padding: 5px;
    float: right;
    min-width: auto !important;
}

.sym-table-small .sym-table-items .sym-table-item:not(.sym-table-item-fake) .sym-table-column > .sym-custom-switchery-wrapper {
    margin-top: 5px !important;
    margin-bottom: 5px !important;
    margin-right: 10px;
    padding: 5px;
}

.sym-table-small .sym-table-items .sym-table-item-fake .sym-custom-switchery-wrapper > * {
    opacity: 0;
}

.sym-table-small .sym-table-items .sym-table-column .sym-pastil {
    display: inline-block;
    width: 12px;
    height: 12px;
    border-radius: 6px;
    cursor: help;
}


/*-----------------------------------------------------------------------------*/
/* -> Forms <- */
/*-----------------------------------------------------------------------------*/
.sym-form-group {
    background-color: #fff;
}

.sym-form-group-title {
    font-family: 'OS_SB';
    font-size: 18px;
    color: #2196f3;
    margin-bottom: 15px;
}
.sym-form-group-title-error {
    color: #fb7e69;
}


.sym-form-group-header {
    border-bottom: 1px solid #f3f4f5;
    margin: 0px -15px;
    padding: 0px 15px 15px;
}

.sym-form-group-header h3 {
    margin: 0px;
    color: #2196f3;
    font-family: 'OS_SB';
    font-size: 18px;
}

.sym-form-group-body {
    padding-top: 15px;
}

/* input */
.sym-input-container {
    position: relative;
    margin-top: 10px;
}

.sym-input-container input {
    border: 1px solid #ccced5;
    color: #525a64;
    font-family: 'OS_R';
    border-radius: 4px;
    padding: 0px 10px;
    outline: none;
    font-size: 14px;
    height: 35px;
}

.sym-input-container input.sym-input-error {
    border: 1px solid #fb7e69 !important;
}

.sym-input-container label {
    position: absolute;
    top: 8px;
    left: 5px;
    padding: 0px 5px;
    font-family: 'OS_R';
    color: #ccced5;
    cursor: text;
    background-color: #fff;
    -webkit-transition: all 300ms;
    -moz-transition: all 300ms;
    -ms-transition: all 300ms;
    -o-transition: all 300ms;
    transition: all 300ms;
}

.sym-input-container input:not(.sym-input-empty) + label, .sym-input-container input:focus + label {
    top: -10px;
    font-family: 'OS_SB';
    font-size: 12px;
    color: #2196f3;
}

/* radio */
.sym-radio-container {
    position: relative;
    display: inline-block;
    padding: 0px 20px 0px 0px;
}

.sym-radio-container label {
    color: #525a64;
    font-family: 'OS_R';
    padding-right: 2px;
}

.sym-radio-container input {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    opacity: 0;
    z-index: 14;
    cursor: pointer;
}

.sym-radio-container span {
    position: relative;
    display: inline-block;
    top: 3px;
    width: 15px;
    height: 15px;
    border: 1px solid #ccced5;
    border-radius: 8px;
}

.sym-radio-container span::after {
    content: '';
    display: none;
    position: absolute;
    top: 3px;
    left: 3px;
    width: 7px;
    height: 7px;
    background-color: #2196f3;
    border-radius: 8px;
}

.sym-radio-container input:checked ~ span::after {
    display: block;
}

/* check */
.sym-check-container {
    position: relative;
    display: inline-block;
    padding: 0px 10px 0px 0px;
}

.sym-check-container label {
    color: #525a64;
    font-family: 'OS_R';
    padding-left: 7px;
}

.sym-check-container-principle label {
    color: #2196f3;
}

.sym-check-container input {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    opacity: 0;
    z-index: 14;
    cursor: pointer;
}

.sym-check-container span {
    position: relative;
    display: inline-block;
    top: 1px;
    width: 15px;
    height: 15px;
    border: 1px solid #ccced5;
}

.sym-check-container span::after {
    content: '';
    display: none;
    position: absolute;
    bottom: 6px;
    left: 6px;
    width: 8px;
    height: 16px;
    border-bottom: 1px solid #2196f3;
    border-right: 1px solid #2196f3;
    transform: rotate(60deg) skew(25deg);
}

.sym-check-container input:checked ~ span::after {
    display: block;
}

/* select */
.sym-select-container label {
    color: #525a64;
    font-family: 'OS_R';
}

.sym-select-container li.active label {
    color: #fff !important;
}